#escudo{
    width: 200px;
    height: 200px;
}

#navbar{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
}
body{
    background-color: aliceblue;
}