body{
    margin: 0;
    padding: 0;
    background-color: rgb(217, 233, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#escudo{
    width: 200px;
    height: 200px;
}

#navbar{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;    

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias{
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    flex-wrap: wrap;
}

.noticia{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 10px solid rgb(0, 0, 0);
}

.img_noticia{
    width: 430;
    height: 270;
}
footer{
    background-color: black;
    color: white;
    padding: 50px;
}
#mascote{
    width: 200px;
    height: 150px;
}
#canto{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 150px;
    z-index: 999999;
}
#escalacao{
margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
.jogador2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
