#escudo{
    width: 200px;
    height: 200px;
}

#navbar{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
}

.noticia{
    background-color: rgb(91, 93, 95);
    color: white;
    border: 4px solid black;
}
